$orange:rgb(224, 64, 15);

header {
    background: black !important;
    color: white;
    height: 100vh;
    .name{
        font-weight: 1000;
    }
    .msg{
        clip-path: polygon(0 24%, 100% 23%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
        background: $orange;
        color: white;
        text-align: center;
    }
    .buttons{
        display:block;
        
        .btn-1{
            background: $orange;
            color: white;
        margin-right:1rem;

        }
        .btn-cta{
            border: 2px solid $orange;
            color: rgb(240, 105, 56);
        }
    }
    .home-row{
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .image-fluid{
        max-width: 100%;
    }
    .intro{
        color:silver
    }
}
@media(max-width:990px) {
  
}
